<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    {% include 'cdnlines.html' %}
  </head>
  <style>
    form{border:10px double black;border-radius:5%; padding: 5px;}
    body{background-image:url('static/images/taj.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;}

  </style>
  <body>
    {% block content %}
    <div class="container mt-5">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <form method="POST" enctype="multipart/form-data">
            <h1 class="text-center text-black"><b><u>Add Article</u>  </b> </h1>
            {% csrf_token %}
            {{ form.as_p }}
            <center>
            <input type="submit" value="Create" class="btn btn-success mr-4">
            <input type="reset" value="Cancel" class="btn btn-danger"><br>
            <a href="{% url 'loginhome' %}" class="btn btn-primary mt-3">GO To Back</a>
          </center>
          </form>
        </div>
      </div>
    </div>
   {% endblock %}
  </body>
</html>
